{{> header }}

<div class="container">
    <h2>Profile</h2>
    <h3>{{showusername}}</h3>
    <h3>{{showemail}}</h3>

    <img src="{{userpicture}}" alt="Profile Picture" height="50" width="50">   
    
    {{msg}}
    
    <form id="uploadProfilePicForm" enctype="multipart/form-data" action="/profile" method="post">
              <input type="file" id="userPhotoInput" name="userPhoto"  accept="image/*" />
              <input type="submit" name="submit" value="Upload">
    </form> 
</div>